<div class="columns is-mobile" {{did-insert this.selectFirstExercise}}>
  <div class="column column-menu is-narrow is-fullheight {{if this.menuVisible 'is-active'}}">
    <LeftNav @exercises={{@exercises}} @selectExercise={{this.selectExercise}} />
  </div>
  <div class="column column-content" data-test-main-content-area>
    <TopNav @menuVisible={{this.menuVisible}} @toggleMenu={{this.toggleMenu}} @selectedExercise={{this.selectedExercise}} />

    <div class="section has-background-black-ter is-fullheight p-xl">
      {{#if this.selectedExercise}}
        <OneRepMaxHeader @highestOneRepMax={{this.selectedExercise.highestOneRepMax}} />

        {{#if this.chartData}}
          <OneRepMaxChart @content={{this.chartData}} @title="1RM Daily Chart" data-test-1rm-chart />
        {{/if}}
      {{/if}}
    </div>
  </div>
</div>